# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
